.pokemon-container {
  background-color: rgb(203, 202, 202);
}

.pokemon__stat-barGray {
  background-color: #f7f7f74b;
  height: 25px;
}
.pokemon__stat-barProgress {
  height: 25px;
  background: linear-gradient(90deg, #fcd676 -2.25%, #e6901e 133.18%);
  width: 50%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bg-grass {
  background-image: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}

.border-grass {
  border-radius: 10px;
  border-color: #b1dbbc;
}

.color-grass {
  color: #416460;
}

.bg-fire {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}

.border-fire {
  border-color: #f96d6f;
}

.color-fire {
  color: #e75c35;
}

.bg-water {
  background-image: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}

.border-water {
  border-color: #1479fb;
}

.color-water {
  color: #1479fb;
}

.bg-bug {
  background-image: linear-gradient(
    177.56deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
}

.border-bug {
  border-color: #4ab648;
}

.color-bug {
  color: #4ab648;
}

.bg-fighting {
  background-image: linear-gradient(
    176.83deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
}

.border-fighting {
  border-color: #96402a;
}

.color-fighting {
  color: #96402a;
}

.bg-poison {
  background-image: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
}

.border-poison {
  border-color: #a564e3;
}

.color-poison {
  color: #a564e3;
}

.bg-rock {
  background-image: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
}

.border-rock {
  border-color: #8d8d94;
}

.color-rock {
  color: #8d8d94;
}

.bg-ground {
  background-image: linear-gradient(
    179.75deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
}

.border-ground {
  border-color: #895c1a;
}

.color-ground {
  color: #895c1a;
}

.bg-flying {
  background-image: linear-gradient(
    176.83deg,
    #877701 -8.78%,
    #beb14c 169.09%,
    #dcd7b4 242.33%
  );
}

.border-flying {
  border-color: #beb14c;
}

.color-flying {
  color: #beb14c;
}

.bg-ghost {
  background-image: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
}

.border-ghost {
  border-color: #454aa8;
}

.color-ghost {
  color: #454aa8;
}

.bg-steel {
  background-image: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}

.border-steel {
  border-color: #728881;
}

.color-steel {
  color: #728881;
}

.bg-electric {
  background-image: linear-gradient(
    179.75deg,
    #0c1395 -19.96%,
    #2b319b 43.67%,
    #7075d9 138.4%
  );
}

.border-electric {
  border-color: #2b319b;
}

.color-electric {
  color: #2b319b;
}

.bg-psychic {
  background-image: linear-gradient(
    176.83deg,
    #900303 -8.78%,
    #e52d2d 169.09%,
    #f58989 242.33%
  );
}

.border-psychic {
  border-color: #e52d2d;
}

.color-psychic {
  color: #e52d2d;
}

.bg-ice {
  background-image: linear-gradient(
    177.03deg,
    #6fbedf -11.97%,
    #64cbf5 47.77%,
    #bdebfe 136.72%
  );
}

.border-ice {
  border-color: #64cbf5;
}

.color-ice {
  color: #64cbf5;
}

.bg-dragon {
  background-image: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}

.border-dragon {
  border-color: #56a4ae;
}

.color-dragon {
  color: #56a4ae;
}

.bg-dark {
  background-image: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
}

.border-dark {
  border-color: #0d1211;
}

.color-dark {
  color: #0d1211;
}

.bg-fairy {
  background-image: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}

.border-fairy {
  border-color: #c23867;
}

.color-fairy {
  color: #c23867;
}

.bg-unknown {
  background-image: linear-gradient(
    176.83deg,
    #2d2c2c -8.78%,
    #696767 169.09%,
    #ededed 242.33%
  );
}

.border-unknown {
  border-color: #696767;
}

.color-unknown {
  color: #696767;
}

.bg-shadow {
  background-image: linear-gradient(
    176.83deg,
    #1a101b -8.78%,
    #4f3353 169.09%,
    #df8dea 242.33%
  );
}

.border-shadow {
  border-color: #4f3353;
}

.color-shadow {
  color: #4f3353;
}

.bg-normal {
  background-image: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}

.border-normal {
  border-color: #bc6b7c;
}

.color-normal {
  color: #bc6b7c;
}

.pokemon__header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon__body {
  background-color: white;
}

.pokemon__header {
  width: min(calc(100%));
  max-width: 1200px;
  padding: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 0;
}

.pokemon__body {
  width: min(calc(100%));
  max-width: 1160px;
  margin: 20px;
  margin-top: 0;
}

.pokemon__body-id {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon__body-name {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}

.pokemon__body-info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

.pokemon__weight-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.5rem;
}

.pokemon__weight-title {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.pokemon__weight-data {
  padding-left: 25px;
}
.pokemon__body-extra {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.pokemon__height-title {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.pokemon__height-data {
  padding-left: 25px;
}

.pokemon__types {
  font-size: 30px;
}

.pokemon__types-title {
  color: black;
}
.pokemon__abilities-title {
  padding-left: 20px;
  font-size: 30px;
  padding-bottom: 20px;
}

.pokemon__abilities-value {
  font-size: 30px;
  margin-top: -20px;
  padding-left: 10px;
}
